.table-list {
    border-right: 1px solid black;
    position: relative;
    overflow: hidden;
    max-width: 300px;
}
.table-list .box {
    overflow-y: scroll;
    height: calc(100% - 55px);
}
.table-list  button {
    display: flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
    font-size: .8rem;
    margin: auto;
    padding: 5px;

    transition: width .3s ease-in-out;
}
.table-list  button:hover {
    cursor: pointer;
}

.table-list .active {
    color: lightblue;
}

.slide-button {
    display: inline-block !important;
    margin-left: 5px !important;
}

.slide-button:hover {
    color: red;
}